$site-palette: (
  primary:    #3434A2,
  secondary:  #14BAC6,
  default:    #152435,
  inverse:    #FFFFFF,
  accent1:     #F5F5F5,
  canyon-primary: #84B953,
  canyon-secondary: #617F39,
  canyon-default: #3A3B38,
);