//TYPOGRAPHY

body{
	color: get-color(default);
	line-height: $line-height-md;

	.content.canyon{
		color: get-color(canyon-default);
	}//end .content.canyon
}//end body

//HEADINGS

h1, h2, h3, h4, h5, h6{
	color: get-color(default);
}//end headings

.content.canyon{
	h1, h2, h3, h4, h5, h6{
		color: get-color(canyon-default);
	}//end headings

	p{
		color: get-color(canyon-default);
	}//end p
}//end .content.canyon

h1,h2{
	margin-bottom: $spacing--sm;

	@include breakpoint (medium down) {
		margin-bottom: $spacing--xs;
	}//end medium down breakpoint
}//end h1, h2

p{
	line-height: $line-height-md;
	color: get-color(default);
	font-size: 1.125rem;
}//end p

