#facility-slider{
	display: flex;
	border-radius: $border-radius;
	box-shadow: $box-shadow-1;
	background: linear-gradient(120deg, #FFFFFF 75%, #3434A2 75%, #14BAC6 100%);

	@at-root .canyon #facility-slider{
		background: get-color(inverse);
	}

	@include breakpoint (large only) {
		background: get-color(inverse);
	}//end large only breakpoint

	@include breakpoint (small only) {
		background: get-color(inverse);
	}//end small only breakpoint

	.slick-arrow{
		height: 45px;
		width: 45px;
		background-color: get-color(inverse);
		border-radius: 50%;
		position: absolute;
		top: calc(50% - 22.5px);
		align-self: center;
		box-shadow: $box-shadow-1;
		z-index: 2;
		cursor: pointer;
		@include transition;

		&:hover{
			box-shadow: $box-shadow-2;
			transform: translateY(3px);
			@include transition;
		}//end hover

		&:after{
			content: '';
			display: block;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			height: 20px;
			width: 20px;
			margin: 0 auto;
			background-size: contain;
			background-repeat: no-repeat;

		}//end after

		&.slick-prev{
			left: -$spacing--sm;

			@include breakpoint (small only) {
				left: -$spacing--xs;
			}//end small only breakpoint

			&:after{
				background-image: url("../img/icon/angle-left-icon.svg");

				@at-root .canyon #facility-slider .slick-arrow.slick-prev:after {
					background-image: url("../img/icon/angle-left-icon-canyon.svg");
				}//end .canyon #facility-slider .slick-arrow.slick-next:after
			}//end after
		}//end .slick-prev

		&.slick-next{
			right: -$spacing--sm;

			@include breakpoint (small only) {
				right: -$spacing--xs;
			}//end small only breakpoint

			&:after{
				background-image: url("../img/icon/angle-right-icon.svg");

				@at-root .canyon #facility-slider .slick-arrow.slick-next:after {
					background-image: url("../img/icon/angle-right-icon-canyon.svg");
				}//end .canyon #facility-slider .slick-arrow.slick-next:after
			}//end after
		}//end .slick-next
	}//end .slick-arrow

	.card{
		padding: $spacing--sm;
		padding-bottom: $spacing--lg;
		//background: linear-gradient(120deg, #FFFFFF 75%, #3434A2 75%, #14BAC6 100%);	
		border-radius: $border-radius;
		width: 100%;

		@include breakpoint (large only) {
			padding: $spacing--xs;
			padding-bottom: $spacing--md;
		}//end large only breakpoint

		@include breakpoint (small only) {
			padding: $spacing--xs;
			padding-bottom: $spacing--sm;
		}//end small only breakpoint
		
		img{
			margin-bottom: $spacing--xs;
			border-radius: $border-radius/2;
			box-shadow: $box-shadow-2;
			opacity: 0;
			@include transition;
		}//end img
		h3{
			margin-bottom: $spacing--xs/2;
			line-height: 1;
			opacity: 0;
			@include transition;

			@include breakpoint (small only) {
				font-size: 1.5rem;
			}//end small only breakpoint
		}//end h3;

		p{
			margin-bottom: 0;
			line-height: 1;
			opacity: 0;
			@include transition;
		}//end p
	}//end .card

	.slick-list{
		width: 100%;
	}

	.slick-active{
		.card{
			img, h3, p{
			opacity: 1;
			@include transition-slow;
			}//end img, h3, p
		}//end .slick-active
		
	}//end slick-active
}//end #facility-slider