.footer{
	background-color: get-color(default);
	padding: $spacing--sm 0;

	&.canyon{
		background-color: get-color(canyon-default);
	}//end .canyon

	@include breakpoint (small only) {
		padding: $spacing--xs 0;
	}//end small only breakpoint
	.inner{
		.grid-x{
			.cell{
				&:first-of-type{
					text-align: left;
					img{
						max-width: 250px;
						max-height: 35px;
					}//end img

					@include breakpoint (small only) {
						display: none;
					}//end small only breakpoint
				}//end first-of-type
				&:last-of-type{
					text-align: right;

					@include breakpoint (small only) {
						text-align: center;
						font-size: 1.125rem;
						line-height: 1;
					}//end small only breakpoint

					a{
						color: get-color(inverse);
						text-decoration: underline;
						@include transition;

						&:hover{
							color: get-color(secondary);
							@include transition;
						}//end hover
					}//end a
				}//end last-of-type
			}//end .cell
		}//end .grid-x
	}//end .inner
}//end .footer