#live-chat-sticky{
	&.button{
		position: fixed;
		right: $spacing--sm;
		bottom: $spacing--sm;
		margin-bottom: 0;
		z-index: 99999;
		display: none;
		padding: $spacing--xs $spacing--md;
		justify-content: center;
		align-items: center;
		background: linear-gradient(90deg, #3434A2, #14BAC6 50%, #3434A2 200% ) 0 / 200%;
		border: none;
		background-color: transparent;
		font-size: 1.5rem;
		@include transition;

		&.canyon{
			background: linear-gradient(90deg, #90B257, #617F39 50%, #90B257 200% ) 0 / 200%;
		border: none;
		}//end .canyon

		&:after{
			content: '';
			display: inline-block;
			margin-left: $spacing--xs;
			width: 30px;
			height: 30px;
			background-image: url("../img/icon/chat-white-icon.svg");
			background-size: contain;
			background-repeat: no-repeat;
		}//end after
		
		@include breakpoint (small only) {
			background: get-color(inverse);
			width: 60px;
			height: 60px;
			text-indent: -9999px;
			white-space: nowrap;
			padding: 0;
			bottom: $spacing--xs;
			right: $spacing--xs;

			&:after{
				background-image: url("../img/icon/chat-blue-icon.svg");
				margin-left: 0;
			}//end after
		}//end small only breakpoint


		&.active{
			display: flex !important;
		}//end active

		&:hover{
			background-position: 40%;
			@include transition;
		}//end hover
	}//end .button.primary
}//end live-chat-sticky

div#lhnHelpOutCenter{
	overflow: hidden;
	&.lhnWindow{
		height: auto;
		opacity: 1;
		border-radius: $border-radius $border-radius 0 0;
		background: transparent;
		transition: all .5s ease-in-out;

		@include breakpoint (small only){
			&.lhnWindow-sidebar{
				height: auto;
				opacity: 1;
			}//end lhnWindow-sidebar
		}//end small only breakpoint
		&.lhnright{
			right: 0 !important;
			&.lhnActive{
				height: auto;
				transition: all .5s ease-out;
				&.circleButton{
					bottom: 0;
					right: 0;
				}//end circleButton
			}//end lhnActive

			&.circleButton{
				#lhnHocHeader{
					background: get-color(primary);
					padding: 0;
					position: relative;
					border-radius: 0;
					display: flex;
					height: 60px;

					.lhnWindow-header-avatar{
						display: block;
						float: none;
						width: auto;
						flex: 0 1 auto;
						padding: $spacing--xs;
						padding-right: 0;
					}//end .lhnWindow-header-avatar

					.lhnWindow-header-text{
						padding-left: $spacing--xs;
						flex: 1 1 auto;
						float: none;
						width: auto;
						display: flex;
						justify-content: center;
						flex-direction: column;
						text-transform: uppercase;
						& > h3 span{
							color: get-color(inverse);
							font-family: $body-font-family;
							text-shadow: none;
							font-size: 1rem;
							font-weight: $font-weight-extrabold;
							letter-spacing: 1px;
						}//end h3 span
						& > h4{
							color: get-color(inverse);
							font-family: $body-font-family;
							text-shadow: none;
							font-size: 12px;
							text-transform: none;
							font-weight: $font-weight-regular;
							letter-spacing: 0;
						}//end *
					}//end .lhnWindow-header-text

					.lhnWindow-header-controls{
						display: flex;
						width: auto;
						height: 60px;

						#lhnWindowMinimizer, #lhnWindowCloser{
							height: 100%;
							margin: 0;
							width: 40px;
							display: block;
							padding: 0 12px;

							img{
								filter: none;
							}//end img
						}//end lhnWindoMinimizer, #lhnWindowCloser

						#lhnWindowMinimizer{
							background-color: darken(get-color(primary), 10%);
							transition: none;
							height: 30px !important;
							width: 30px !important;
							border-radius: $border-radius;
							box-shadow: $box-shadow-1;
							margin-top: $spacing--xs;
							margin-right: $spacing--xs/2;

							&:hover{
								background: darken(get-color(primary), 20%);
								transition: none;
								box-shadow: 0;
							}//end hover
						}//end #lhnWindowMinimizer

						#lhnWindowCloser{
							background-color: darken(get-color(primary), 10%);
							height: 30px !important;
							width: 30px !important;
							border-radius: $border-radius;
							box-shadow: $box-shadow-1;
							margin-top: $spacing--xs;
							margin-right: $spacing--xs/2;
							transition: none;

							&:hover{
								background: darken(get-color(primary), 20%);
								transition: none;
								box-shadow: 0;
							}//end hover
						}//end #lhnWindowMinimizer
					}// end .lhnWindow-header-controls
				}//end lhnHocHeader

				#hocContainer{
					background: get-color(inverse);
					height: auto;
					padding: $spacing--sm 1.125rem $spacing--md;
					overflow: hidden;

					.lhnHocSection{
						height: 309px !important;
						padding-bottom: 0;

						.lhnSystemMessage.lhnWindow-message--container *{
							font-family: $body-font-family;
							color: get-color(default);
						}//end .lhnSystemMessage.lhnWindow-message--container

						.lhnCustomerMessage .lhnWindow-message{
							background-color: get-color(secondary); 
							font-family: $body-font-family;
							font-size: 15px;
							line-height: 22px;
							padding: 10px;
							color: get-color(inverse);

							&:after{
								border-color: transparent transparent transparent get-color(secondary); 
							}//end after
						}//end .lhnCustomerMessage .lhnWindow-message

						.lhnOperatorMessage{

							.lhnWindow-message{
								background-color: get-color(accent1);
								color: get-color(default);
								font-family: $body-font-family;
								font-size: 15px;
								line-height: 22px;
								padding: 10px;

								&:after{
									border-color: transparent transparent get-color(accent1) transparent;
								}//end after
							}//end .lhnWindow-message

							.lhnTypingDot{
								background-color: darken(get-color(accent1),15%);
							}//end lhnTypingDot
						}//end .lhnOperatorMessage

						.lhnWindow-chat_input{
							background-color: get-color(inverse);
							border-top: 2px solid get-color(accent1);
							bottom: -30px;
							padding-right: 10px;

							#lhnChatMessageBox{
								textarea{
									background-color: get-color(inverse);
									border: none;
									box-shadow: none;
									font-family: $body-font-family;
									color: get-color(default);
									font-size: 14px;
									margin-bottom: 0;
								}//end textarea
							}//end lhnChatMessageBox

							.lhnChatActionsMenu img{
								background-color: get-color(primary);
							}

							.lhnInput-chat_input-buttons{
								.lhnSendButton{
									border-radius: $border-radius;
									text-shadow: none;
									font-family: $body-font-family;
									background-color: get-color(secondary);
									letter-spacing: 0;
									font-size: 14px;

									&:hover{
										background-color: darken(get-color(secondary),10%);
									}
								}
							}//end lhnInput-chat_input-buttons
						}//end .lhnWindow-chat_input

						.lhnPrompt{
							background: linear-gradient(43deg, rgba(60,71,85,.9) 0%, rgba(45,61,81,.9) 100%);
							height: auto;
							bottom: -200px;
							top: -24px;
							font-family: $body-font-family;
							color: get-color(inverse);
							font-size: 1rem;
							text-align: left;

							.lhnPromptMsg, small{
								font-family: $body-font-family;
								color: get-color(inverse);
								font-size: 1rem;
								text-align: left;
								display: inline-block;
							}//end .lhnPromptMsg

							small{
								font-size: 14px;
							}//end small

							.lhnPromptButtons{
								button{
									width: 100%;
									margin: auto;
									margin-bottom: $spacing--xs;
									font-family: $body-font-family;
									text-shadow: none;
									font-size: 1rem;
									height: 50px;
									border-radius: $border-radius;
									box-shadow: $box-shadow-2;
									color: get-color(inverse);
									letter-spacing: 1px;
									@include transition;

									&.lhnPromptAccept{
										background-color: get-color(secondary);
										border-color: get-color(secondary);

										&:hover{
										background-color: darken(get-color(secondary),10%);
										border-color: darken(get-color(secondary),10%);
										color: get-color(accent1);	
										@include transition;
									}//end hover
									}//end lhnPromptAccept

									&.lhnPromptDecline{
										background-color: transparent;
										border-color: get-color(inverse);

										&:hover{
											background-color: get-color(inverse);
											border-color: get-color(inverse);
											color: get-color(secondary);	
											@include transition;
										}//end hover
									}//end lhnPromptDecline

									
								}//end button
							}//end lhnPromtButtons
						}//end lhnPrompt
					}//end lhnHocSection

					.lhnPreChatForm, .lhnOfflineForm{
						& > div{
							font-family: $body-font-family;
							font-size: 14px;
							line-height: 24px;
							color: get-color(default);
						}//end div

						.lhnFields{
							.lhnField > label.lhnLabel{
								font-family: $body-font-family;
								text-transform: uppercase;
								font-size: $fontsize--xs;
								font-weight: $font-weight-bold;
								color: get-color(secondary);
							}//end lhnlabel
							.lhnFieldInput{
								input.lhnInput, textarea.lhnInput{
									background: get-color(inverse);
									border-radius: $border-radius;
									border: 2px solid get-color(accent1);
									margin-top: $spacing--xs/2;
									margin-bottom: $spacing--sm;
									color: get-color(default);
									font-size: 1rem;
									font-family: $body-font-family;

									&:last-of-type{
										margin-bottom: $spacing--md;
									}//end last-of-type
								}//end input.lhnInput
							}//end lhnFieldInput
						}//end lhnFields

						button.lhnFormButton, button.form_submit{
							background: get-color(secondary);
							width: 100%;
							border-radius: 35px;
							box-shadow: $box-shadow-1;
							font-size: 1rem;
							font-family: $body-font-family;
							font-weight: $font-weight-bold;
							text-transform: uppercase;
							text-shadow: none;
							height: 50px;
							@include transition;

							&:hover{
								box-shadow: none;
								background: darken(get-color(secondary),10%);
								@include transition;
							}//end hover
						}//end button
					}//end lhnPreChatForm
				}//end hocContainer

				.lhnWindow-footer{
					display: none !important;
				}//end lhnWindow-footer
			}//end .circleButton
		}//end lhnright
	}//end lhnWindow
}//#lhnHelpOutCenter