.button{
	background-color: get-color(secondary);
	box-shadow: $box-shadow-1;
	border-radius: 100px;
	font-size: 2rem;
	font-weight: $font-weight-medium;
	line-height: 1;
	padding: $spacing--xs $spacing--md;
	margin-bottom: 0;
	@include transition;

	@include breakpoint (small only) {
		width: 100%;
	}//end small only breakpoint

	&:hover{
		background-color: darken(get-color(secondary), 5%);
		box-shadow: $box-shadow-2;
		transform: translateY(3px);
		@include transition;
	}//end hover

	&.secondary{
		background-color: transparent;
		border: 3px solid get-color(inverse);
		margin-top: $spacing--sm;
		font-size: 1.5rem;
		color: get-color(inverse);
		@include transition;

		&:hover, &:focus{
			background-color: get-color(inverse);
			color: get-color(default);
			@include transition;
		}//end hover
	}//end .secondary
}//end .button

.button-container{
	align-items: center;
	
	.container{
		@include breakpoint (large only) {
			width: 100%;
		}//end large only breakpoint
		@include breakpoint (small only) {
			width: 100%;
		}//end small only breakpoint
	}//end .container
	

	.button{
		margin-right: $spacing--sm;

		@include breakpoint (large only) {
			margin: 0;
			margin-top: $spacing--xs;
			width: 100%;
		}//end large only breakpoint

		@include breakpoint (small only) {
			margin: 0;
			margin-top: $spacing--xs;
			width: 100%;
		}//end small only breakpoint
	}//end .button

	p{
		font-weight: $font-weight-medium;
		font-size: 1.25rem;
		padding-left: $spacing--sm;
		border-left: 2px solid rgba(get-color(inverse),.5);
		margin-bottom: 0 !important;
		max-width: 175px;
		line-height: 1.5rem;

		@include breakpoint (large only) {
			text-align: center;
			margin: 0 auto;
			border-left: none;
			border-top: 2px solid rgba(get-color(inverse),.5);
			padding-left: 0;
			padding-top: $spacing--xs;
			max-width: none;
		}//end large only breakpoint

		@include breakpoint (small only) {
			text-align: center;
			margin: 0 auto;
			border-left: none;
			border-top: 2px solid rgba(get-color(inverse),.5);
			padding-left: 0;
			padding-top: $spacing--xs;
			max-width: none;
		}//end small only breakpoint
	}//end p
}//end .button-container

.inner{
	@include inner;
}//end .inner

.module{
	position: relative;
}//end .module

.card{
	border: none;
	margin-bottom: 0;
	position: relative;
	z-index: 1;
	background-color: transparent;
	overflow: visible;
}//end .card

//REVEAL

.reveal-overlay{
	background: linear-gradient(268deg, rgba(#14BAC6,.8) 0%, rgba(#3434A2,.8) 100%);
	@include innerpadding;
	z-index: 99999;

	@at-root .canyon .reveal-overlay {
		background: linear-gradient(268deg, rgba(#617F39,.8) 0%, rgba(#90B257,.8) 100%);
	}

	@include breakpoint (small only) {
		padding-top: $spacing--md;
		padding-bottom: $spacing--md;
	}//end small only breakpoint

	.reveal{
		background: none;
		border-radius: $border-radius;
		border: none;
		box-shadow: $box-shadow-1;
		width: 100%;
		max-width: 1200px;
		margin: 0 auto;

		@include breakpoint (small only) {
			width: 100%;
			height: auto;
			min-height: 0;
			max-height: 100vh;
			overflow-y: scroll;
		}//end small only breakpoint

		&.video{
			padding: 0;

			.widescreen.flex-video{
				margin-bottom: 0;
				border-radius: $border-radius;
				overflow: hidden;

				iframe{
					border: none;
				}//end iframe
			}//end widescreen.flex-video

			.close-button{
				color: get-color(primary);
				background-color: get-color(inverse);
				box-shadow: $box-shadow-2;
				width: 45px;
				height: 45px;
				border-radius: $border-radius/2;
				top: $spacing--md;
				right: $spacing--md;
				@include transition;

				@at-root .reveal-overlay .reveal.video .close-button {
					color: get-color(canyon-secondary);
				}//end @at-root .reveal-overlay .reveal.video .close-button

				@include breakpoint (small only) {
					top: 0;
					right: 0;
				}//end small only breakpoint

				&:hover{
					box-shadow: $box-shadow-1;
					transform: translateY(3px);
					background-color: darken(get-color(inverse),5%);
					@include transition;
				}//end hover
			}//end .close-button
		}//end video
	}//end .reveal
}//end reveal overlay

html.is-reveal-open, html.is-reveal-open body{
	position: relative;
}