.module.billboard{
	background: $gradient-1;
	padding: $spacing--xl*2 0;
	margin-top: -$spacing--xl;
	overflow: hidden;

	@include breakpoint (medium only) {
		padding-bottom: $spacing--lg*2;
	}//end medium only breakpoint

	@include breakpoint (small only) {
		padding: $spacing--xxxl 0 $spacing--xl 0;	
	}//end small only breakpoint

	&:after{
		content: '';
		border-bottom: 80px solid get-color(inverse);
		border-left: 50vw solid transparent;
		border-right: 50vw solid #B8EAED;
		border-top: 80px solid transparent;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;

		@include breakpoint (small only) {
			border-bottom-width: 2rem;
			border-top-width: 2rem;
		}//end small only breakpoint
	}//end after

	&.canyon{
		background: $canyon-gradient;
		&:after{
			border-right: 50vw solid #D6E0C8;
		}//end :after

		.button{
			background-color: get-color(inverse);
			color: #779948;
		}//end .button
	}//end .canyon
	.inner{
		.grid-x{
			.cell{
				position: relative;
				z-index: 1;

				&.content{
					padding-right: $spacing--xl;
					display: flex;
					align-items: center;

					@include breakpoint (large only) {
						padding-right: $spacing--sm;
					}//end large only breakpoint

					@include breakpoint (medium only) {
						margin-bottom: $spacing--lg;
					}//end medium only breakpoint

					@include breakpoint (small only) {
						padding: 0;
					}//end small only breakpoint

					.card{
						display: block;
						width: 100%;

						h1{
							color: get-color(inverse);
							line-height: 1;

							@include breakpoint (large only) {
								font-size: 2.5rem;
								margin-bottom: $spacing--xs
							}//end large only breakpoint
						}//end h1

						p{
							font-size: 1.5rem;
							color: get-color(inverse);
							margin-bottom: $spacing--md;
							line-height: 2.25rem;

							@include breakpoint (large only) {
								font-size: 1.25rem;
								line-height: 2.25rem;
								margin-bottom: $spacing--sm;
							}//end large only breakpoint

							@include breakpoint (small only) {
								font-size: 1.25rem;
								line-height: 2rem;
								margin-bottom: $spacing--sm;
							}//end small only breakpoint
						}//end p
					}//end .card
				}//end .content

				&.media{
					.video-container{
						min-height: 400px;
						display: flex;
						background-image: url("../img/commercial-thumbnail.jpg");
						background-size: cover;
						background-position: center center;
						background-repeat: no-repeat;
						border-radius: $border-radius;
						box-shadow: $box-shadow-1;
						justify-content: center;
						align-items: center;
						position: relative;

						&:after{
							content: '';
							position: absolute;
							top: 0;
							bottom: 0;
							left: 0;
							right: 0;
							opacity: 0;
							background-color: rgba(get-color(primary),.4);
							border-radius: $border-radius;
							@include transition;

							@at-root .module.billboard.canyon .inner .grid-x .cell.media .video-container:after {
								background-color: rgba(get-color(canyon-primary), .2);
							}//end @at-root .module.billboard.canyon .inner .grid-x .cell.media .video-container:after
						}//end after

						&:hover{
							&:after{
								opacity: 1;
								@include transition;
							}//end after
						}//end hover

						img{
							position: absolute;
							top: calc(50% - 74.5px);
							left: 0;
							right: 0;
							margin: 0 auto;
							z-index: 2;
						}
					}//end .video-container;
				}//end .media
			}//end .cell
		}//end .grid-x
	}//end .inner
}//end .billboard