.module.duo-carousel{
	background-color: get-color(accent1);
	padding: $spacing--xl 0;

	@include breakpoint (medium down) {
		padding: $spacing--md 0;
	}//end medium down breakpoint

	&.canyon{
		.button{
			background-color: get-color(canyon-primary);
			box-shadow: 0px 10px 35px rgba(#84B953, .2);
		}//end .button
	}//end .canyon
	.inner{
		.grid-x{
			.cell{
				&:first-of-type{
					padding-right: $spacing--xxl;
					display: flex;
					align-items: center;

					@include breakpoint (large only) {
						padding-right: $spacing--lg;
					}//end large only breakpoint

					@include breakpoint (medium down) {
						padding: 0;
						margin-bottom: $spacing--md;
					}//end medium down breakpoint

					.card{
						width: 100%;

						h2{
							@include breakpoint (large only) {
								margin-bottom: $spacing--xs;
								line-height: 1;
							}//end large only breakpoint
						}//end h2

						p{
							margin-bottom: $spacing--md;

							@include breakpoint (large only) {
								margin-bottom: $spacing--xs;
							}//end large only breakpoint

							@include breakpoint (small only) {
								margin-bottom: $spacing--xs;
							}//end small only breakpoint
						}//end p
						.button-container{
							p{
								border-color: rgba(get-color(default),.5);
								margin-bottom: 0;
							}//end p
						}//end .button-container
					}//end.card
					
				}//end first-of-type
				
			}//end .cell
		}//end .grid-x
	}//end .inner
}//end .module.duo-carousel