#header{
	padding-top: $spacing--md;
	position: relative;
	z-index: 99;
	height: 64px;
	.site-logo{
		max-width: 250px;
		max-height: 35px;

		@include breakpoint (small only) {
			max-width: 200px;
		}//end small only breakpoint
	}//end .site-logo;
}//end .site-logo;