.module.insurance{
	background-color: get-color(accent1);
	padding-top: $spacing--lg;

	@include breakpoint (medium down) {
		padding-top: $spacing--md;
	}//end medium down breakpoint

	.inner{
		.card{
			padding: $spacing--xl $spacing--lg;
			border-radius: $border-radius;
			box-shadow: $box-shadow-1;
			background-color: get-color(inverse);

			@include breakpoint (medium only) {
				padding: $spacing--md;
			}//end medium only breakpoint

			@include breakpoint (small only) {
				padding: $spacing--sm;
			}//end small only breakpoint

			.grid-x{
				.cell{
					&:last-of-type{
						padding-left: $spacing--lg;

						@include breakpoint (large only) {
							padding-left: $spacing--sm;
						}//end large only breakpoint

						@include breakpoint (medium down) {
							padding: 0;
						}//end medium down breakpoint
					}//end last-of-type

					h2{

						@include breakpoint (large only) {
							margin-bottom: $spacing--xs;
							line-height: 1;
						}//end large only breakpoint

						@include breakpoint (small only) {
							line-height: 1;
						}//end small only breakpoint
					}//end h2

					h3{
						font-size: 1.5rem;
						margin-bottom: $spacing--sm;
						font-weight: $font-weight-regular;

						@include breakpoint (small only) {
							margin-bottom: $spacing--xs;
							line-height: 1;
						}//end small only breakpoint
					}//endh3

					p{
						margin-bottom: 0;

						@include breakpoint (medium down) {
							margin-bottom: $spacing--xs;
						}//end medium down breakpoint
					}//end p

					ul{
						font-size: 1.25rem;
						line-height: 2rem;
						margin-bottom :0;

						@include breakpoint (large only) {
							font-size: 1.125rem;
						}//end large only breakpoint

						@include breakpoint (small only) {
							font-size: 1rem;
							line-height: 1.5rem;
						}//end small only breakpoint
						li{

						}//end li
					}//end ul
				}//end cell
			}//end grid-x
		}//end .card
	}//.inner
}//end module .insurance