.module.objections{
	background-color: get-color(default);
	padding-top: $spacing--xl*2;
	margin-top: -$spacing--xl;
	padding-bottom: $spacing--xl;

	@include breakpoint (medium down) {
		padding-top: $spacing--xl + $spacing--md;
		padding-bottom: $spacing--md;
	}//end medium down breakpoint

	&.canyon{
		background-color: get-color(canyon-default);

		.button{
			background-color: get-color(canyon-primary);
		}//end .button

		.inner > .grid-x > .cell .accordion-container .accordion .accordion-item .accordion-title:before {
			color: get-color(canyon-primary);
		}//end .inner > .grid-x > .cell .accordion-container .accordion .accordion-item .accordion-title:before
	}//end .canyon
	.inner{
		&>.grid-x{
			&>.cell{
				&:first-of-type{
					padding-right: $spacing--xxl/2;

					@include breakpoint (large only) {
						padding-right: $spacing--lg;
					}//end large only breakpoint

					@include breakpoint (medium down) {
						padding: 0;
					}//end medium down breakpoint
				}//end first-of-type
				&:last-of-type{
					padding-left: $spacing--xxl/2;

					@include breakpoint (large only) {
						padding-left: 0;
					}//end large only breakpoint

					@include breakpoint (medium down) {
						padding: 0;
						margin-bottom: $spacing--md;
					}//end medium down breakpoint
				}//end first-of-type
				//ACCORDION
				.accordion-container{
					.accordion{
						border: none;
						background: none;
						.accordion-item{
							margin-bottom: $spacing--xs;
							background-color: get-color(inverse);
							border-radius: $border-radius;
							overflow: hidden;
							box-shadow: $box-shadow-1;
							@include transition;

							&:hover{
								background-color: darken(get-color(inverse),5%);
								transform: translateY(3px);
								box-shadow: $box-shadow-2;
								@include transition;

								@include breakpoint (small only) {
									background-color: get-color(inverse);
								}//end small only breakpoint
							}//end hover

							.accordion-title{
								border: none;
								color: get-color(default);
								font-size: 1.25rem;
								@include transition;
								padding: $spacing--sm;

								@include breakpoint (large only) {
									padding-right: $spacing--lg;
								}//end large only breakpoint

								@include breakpoint (small only) {
									font-size: 1rem;
									line-height: 1.5rem;
									padding: $spacing--xs;
									padding-right: $spacing--xl;
								}//end small only breakpoint

								&:hover, &:focus{
									background: none;
									@include transition;
								}//end hover
								

								&:before{
									font-size: 2rem;
									color: get-color(primary);
									margin-top: 0;
									top: calc(50% - 16px);
									font-weight: 700;
								}//end before
							}//end accordion-title

							.accordion-content{
								border: none;
								padding: $spacing--sm;
								padding-top: $spacing--xs/2;
								font-size: 1.125rem;
							}//end .accordion-content
						}//end .accordion-item
					}//end .accordion
				}//end .accordion-container

				.card{
					h2{
						color: get-color(inverse);

						@include breakpoint (large only) {
							line-height: 1;
							margin-bottom: $spacing--xs;
						}//end large only breakpoint

						@include breakpoint (small only) {
							line-height: 2.25rem;
						}//end small only breakpoint
					}//end h2
					p{
						color: get-color(inverse);
						margin-bottom: $spacing--md;

						@include breakpoint (large only) {
							margin-bottom: $spacing--xs;
						}//end large only breakpoint

						@include breakpoint (small only) {
							margin-bottom: $spacing--xs;
						}//end small only breakpoint
					}//end p
				}//end .card

			}//end .cell
		}//end .grid-x
	}//end .inner
}//end .module.objections