.module.statistic{
	@include breakpoint (small only) {
		padding-bottom: $spacing--md;
	}//end small only breakpoint
	.inner{
		max-width: none;
		padding: 0;
		.grid-x{
			.cell{
				&:first-of-type{
					max-width: $container/2;
					margin-left: auto;
					padding-left: $spacing--lg;
					display: flex;
					align-items: center;

					@include breakpoint (medium only) {
						padding-left: $spacing--md;
					}//end medium only breakpoint

					@include breakpoint (small only) {
						padding: 0;
						padding-top: $spacing--xs;
						margin: 0 auto;
					}//end small only breakpoint

					p{
						font-size: 1.875rem;
						text-align: center;
						margin-bottom: 0;
						line-height: 2.25rem;

						@include breakpoint (large only) {
							font-size: 1.25rem;
						}//end large only breakpoint

						@include breakpoint (medium only) {
							font-size: 1.125rem;
							line-height: 2rem;
						}//end medium only breakpoint

						@include breakpoint (small only) {
							font-size: 1rem;
							line-height: 1;
							margin: 0 auto;
						}//end small only breakpoint
						span{
							display: block;
							color: get-color(primary);
							font-size: 4rem;
							font-weight: $font-weight-bold;
							margin: $spacing--sm 0;
							line-height: 4.5rem;

							@at-root .module.statistic.canyon .inner .grid-x .cell:first-of-type p span{
								color: get-color(canyon-primary)
							}//end .module.statistic.canyon .inner .grid-x .cell:first-of-type p span

							@include breakpoint (large only) {
								font-size: 3.5rem;
								line-height: 1;
							}//end large only breakpoint

							@include breakpoint (medium only) {
								font-size: 3rem;
								margin: $spacing--xs 0;
								line-height: 1;
							}//end medium only breakpoint

							@include breakpoint (small only) {
								font-size: 2rem;
								line-height: 2.25rem;
								margin: $spacing--xs 0;
							}//end small only breakpoint
						}//end span
					}//end p
				}//end first-of-type
				&:last-of-type{
					min-height: 440px;
					background-image: url(../../assets/img/family-smiling.jpg);
					background-size: cover;
					background-repeat: no-repeat;
					position: relative;

					@include breakpoint (large only) {
						min-height: 350px;
					}//end large only breakpoint

					@include breakpoint (medium only) {
						min-height: 300px
					}//end medium only breakpoint

					@include breakpoint (small only) {
						min-height: 250px;
						background-position: center center;
					}//end small only breakpoint

					&:after{
						content:'';
						position: absolute;
						top: 0;
						bottom: 0;
						left: 0;
						right: 0;
						background-image: radial-gradient(closest-corner at 61% 49%, rgba(255, 255, 255, 0.1) 20%, #FFFFFF 100%);

						@include breakpoint (small only) {
							bottom: -2px;
							background-image: radial-gradient(closest-corner at 50% 38%, rgba(255, 255, 255, 0.1) 20%, #FFFFFF 100%);
						}//end small only breakpoint
					}//end after
				}//end last-of-type
			}//end .cell
		}//end .grid-x
	}//end .inner
}//end .module.statistics