.module.duo{
	padding: $spacing--xl 0;

	@include breakpoint (medium down) {
		padding: $spacing--md 0;
	}//end medium down breakpoint
	.inner{
		.grid-x{
			.cell{
				&:first-of-type{
					display: flex;
					align-items: center;
					.video-container{
						min-height: 350px;
						background-image: url("../img/what-to-expect.jpg");
						background-size: cover;
						background-repeat: no-repeat;
						border-radius: $border-radius;
						box-shadow: $box-shadow-1;
						width: 100%;
						position: relative;
						overflow: hidden;

						@include breakpoint (large only) {
							min-height: 300px;
						}//end large only breakpoint

						@include breakpoint (small only) {
							min-height: 250px;
						}//end small only breakpoint

						&:before{
							content: '';
							position: absolute;
							top: 0;
							bottom: 0;
							left: 0;
							right: 0;
							background: linear-gradient(-150deg, transparent 80%, #1F89B8 80%, #3434A2 100%);

							@at-root .module.duo.canyon .inner .grid-x .cell:first-of-type .video-container:before {
								background: linear-gradient(-150deg, transparent 80%, #617F39 80%, #90B257 100%);
							}//end .module.duo.canyon .inner .grid-x .cell:first-of-type .video-container:before
						}//end :before

						.play-video-button{
							display: block;
							position: absolute;
							bottom: $spacing--sm;
							left: $spacing--sm;
							background-color: get-color(inverse);
							color: get-color(default);
							font-size: 1.25rem;
							font-weight: $font-weight-medium;
							padding: $spacing--xs $spacing--xs $spacing--xs $spacing--sm;
							border-radius: 100px;
							display: flex;
							align-items: center;
							box-shadow: $box-shadow-1;
							@include transition;

							@include breakpoint (small only) {
								bottom: $spacing--xs;
								left: $spacing--xs;
								right: $spacing--xs;
								font-size: 1rem;
								line-height: 1;
								padding: $spacing--xs/2 $spacing--xs;
								max-width: 295px
							}//end small only breakpoint

							&:hover{
								background-color: darken(get-color(inverse), 5%);
								transform: translateY(3px);
								box-shadow: $box-shadow-2;
								@include transition;

								.button-icon{
									box-shadow: $box-shadow-1;
									@include transition;
								}
							}

							.button-icon{
								width: 35px;
								height: 35px;
								background-color: get-color(inverse);
								border-radius: 50%;
								box-shadow: $box-shadow-2;
								display: inline-block;
								margin-left: $spacing--md;
								position: relative;
								@include transition;

								@include breakpoint (small only) {
									margin-left: $spacing--sm;
								}//end small only breakpoint

								&:after{
									content: '';
									display: block;
									position: absolute;
									top: calc(50% - 7.5px);
									left: 0;
									right: 0;
									height: 15px;
									width: 15px;
									margin: 0 auto;
									background-size: contain;
									background-repeat: no-repeat;
									background-image: url("../img/icon/play-button-icon.svg");

									@at-root .module.duo.canyon .inner .grid-x .cell:first-of-type .video-container .play-video-button .button-icon:after {
										background-image: url("../img/icon/play-button-icon-canyon.svg");
									}//end .module.duo.canyon .inner .grid-x .cell:first-of-type .video-container .play-video-button .button-icon:after
								}//end after
							}//end .button-icon
						}//end .play-video-button
					}//end .video-container;
				}//end first-of-type

				&:last-of-type{
					padding-left: $spacing--xl;
					display: flex;
					align-items: center;

					@include breakpoint (large only) {
						padding-left: $spacing--md;
					}//end large only breakpoint

					@include breakpoint (medium down) {
						padding: 0;
						padding-top: $spacing--md;
					}//end medium down breakpoint
					.card{
						width: 100%;
						h2{
							color: get-color(primary);
							font-weight: $font-weight-medium;

							@at-root .module.duo.canyon .inner .grid-x .cell:last-of-type .card h2 {
								color: get-color(canyon-secondary);
							}//end .module.duo.canyon .inner .grid-x .cell:last-of-type .card h2

							@include breakpoint (large only) {
								font-size: 2.25rem;
								line-height: 1;
								margin-bottom: $spacing--xs;
							}//end large only breakpoint
						}//end h2

						h3{
							font-weight: $font-weight-medium;
							font-size: 1.5rem;
							margin-bottom: $spacing--xs/2;

							@include breakpoint (small only) {
								font-size: 1.25rem;
							}//end small only breakpoint
						}//end h3
					}//end .card	
				}//end last-of-type	
			}//end .cell
		}//end .grid-x
	}//end .inner
}//end .module.duo