.module.spotlight{
	padding-top: $spacing--lg;
	padding-bottom: $spacing--xl;

	@include breakpoint (medium only) {
		padding-top: $spacing--sm;
		padding-bottom: $spacing--lg;
	}//end medium only breakpoint

	@include breakpoint (small only) {
		padding: $spacing--md 0;
	}//end small only breakpoint
	.inner{
		max-width: 950px;
		h2{
			text-align: center;

			@include breakpoint (small only) {
				text-align: left;
			}//end small only breakpoint
		}//end h2

		p{
			margin-bottom: $spacing--sm;

			@include breakpoint (small only) {
				margin-bottom: $spacing--xs;
			}//end small only breakpoint
		}//end p

		.grid-x{
			max-width: 500px;
			margin: 0 auto;

			.cell{
				text-align: center;
				a{
					display: block;
					cursor: default;

					@include breakpoint (small only) {
						padding: 0 $spacing--xs/2;
					}//end small only breakpoint
				}//end a
			}//end .cell
		}//end .grid-x
	}//end .inner
}//end .module.spotlight