<div id="header">
	<div class="inner">
		<div class="logo-container">
			{{#if canyon}}
			<img src="{{site.canyon-logo.img}}" class="site-logo" alt="{{text}}" />
			{{else}}
			<img src="{{site.logo.img}}" class="site-logo" alt="{{text}}" />
			{{/if}}
		</div>{{!--/.logo-container--}}
	</div>{{!--/.inner--}}
</div>{{!--/#header--}}