<div id="hero" class="module billboard {{#if class}}{{class}}{{/if}}">
	<div class="inner">
		<div class="grid-x">

			{{!-- CONTENT --}}
			<div class="cell large-6 content">
				<div class="card">
					<h1>{{heading}}</h1>
					{{#markdown}}{{text}}{{/markdown}}
					<a class="button" href="tel:{{@root.site.phone}}" data-ga-event data-ga-category="Phone Numbers" data-ga-action="Phone Clicks" data-ga-label="Phone Clicks Billboard">{{@root.site.phone}}</a>
					<a class="button secondary show-for-small-only" data-reset-on-close="true" data-open="billboard-video" data-ga-event data-ga-category="Video" data-ga-action="Video Modal" data-ga-label="Video Modal Billboard">{{button-cta}}</a>
				</div>{{!--/.card--}}
			</div>{{!--/.cell.content--}}

			{{!-- MEDIA --}}
			<div class="cell large-6 media show-for-medium">
				<a class="video-container" style="background-image: url({{img}})" data-reset-on-close="true" data-open="billboard-video">
					<img src="assets/img/icon/play-video-icon.svg"/>
				</a>{{!--/.video-container--}}
			</div>{{!--/.cell.media--}}

			{{!-- REVEAL --}}
			<div class="reveal video" id="billboard-video" data-reveal data-reset-on-close="true">
				<div class="widescreen flex-video">
					<iframe width="560" height="315" src="{{video}}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				</div>{{!--/widescreen.flex.video--}}
          		<button class="close-button" data-close aria-label="Close modal" type="button">
            		<span aria-hidden>&times;</span>
          		</button>{{!--/button--}}
			</div>{{!--/.reveal--}}

		</div>{{!--/.grid-x--}}
	</div>{{!--/.inner--}}
</div>{{!--/.module.billboard--}}