<div class="module spotlight">
	<div class="inner">
		<h2>{{heading}}</h2>
		{{#markdown}}{{text}}{{/markdown}}
		<div class="grid-x small-up-4">

			{{!-- ACCREDITATIONS --}}
			{{#each accreditations}}
			<div class="cell">
				<a href="{{url}}">
					<img src="{{img}}" class="accreditations" alt="{{text}}" />
				</a>
			</div> {{!--/.cell--}}
			{{/each}}
		</div>{{!--/.grid-x--}}
	</div>{{!--/.inner--}}
</div>{{!--/.module.spotlight--}}