<div class="module insurance">
	<div class="inner">
		<div class="card">
			<div class="grid-x">

				<div class="cell large-6">
					<h2>Cost of Treatment</h2>
					<p>We work with most major insurance providers, including many not listed here. Our admissions team works tirelessly with insurance companies on your behalf to remove financial concerns from your decision. If you have questions about the cost of treatment we would encourage you to give us a call as each individual situation is unique.</p>
				</div>{{!--/.cell--}}

				<div class="cell large-6">
					<h3>Some of the insurance we accept:</h3>
					<ul class="grid-x">

						<div class="cell medium-6">
							<li>Aetna</li>
							<li>Blue Cross Blue Shield</li>
							<li>Cigna</li>
							<li>ComPsych</li>
							<li>CoreSource</li>
						</div> {{!--/.cell--}}

						<div class="cell medium-6">
							<li>United Healthcare</li>
							<li>Humana</li>
							<li>Magellan</li>
							<li>MultiPlan</li>
							<li>ValueOptions</li>
						</div> {{!--/.cell--}}

					</ul>
				</div>{{!--/.cell--}}

			</div>{{!--/.grid-x--}}
		</div>{{!--/.card--}}
	</div>{{!--/.inner--}}
</div>{{!--/.module.insurance--}}