<div class="module objections {{#if class}}{{class}}{{/if}}">
	<div class="inner">
		<div class="grid-x">

			{{!-- ACCORDION --}}
			<div id="accordion-anchor" class="cell large-6 small-order-2 large-order-1">
				<div class="accordion-container"> 
					<ul class="accordion" data-accordion data-multi-expand="true" data-allow-all-closed="true">
					{{#each accordion}}
					  <li class="accordion-item" data-accordion-item>
					    {{!-- ACCORDION TITLE--}}
					    <a href="#" class="accordion-title">{{title}}</a>

					    {{!-- ACCORDION CONTENT--}}
					    <div class="accordion-content" data-tab-content>
					      {{{text}}}
					    </div>
					  </li>
					  {{/each}}
					</ul>{{!--/.accordion--}}
				</div>{{!--/.accordion-container--}}
			</div>{{!--/.cell--}}

			<div class="cell large-6 small-order-1 large-order-2" data-sticky-container>
				<div class="card" data-sticky data-sticky-on="large" data-margin-top="10" data-anchor="accordion-anchor">
					<h2>We Understand Your Struggle</h2>
					<p>Deciding to reach out for treatment is never an easy decision. Our admissions team helps individuals just like you every day with compassion to overcome the obstacles in your path. We have the experience you need to guide you through the process from beginning to end to start building your foundation to a new life.</p>
					<div class="button-container grid-x">
						<div class="container small-order-2 medium-order-1 large-order-2 xlarge-order-1">
							<a href="tel:{{@root.site.phone}}" data-ga-event data-ga-category="Phone Numbers" data-ga-action="Phone Clicks" data-ga-label="Phone Clicks Objections" class="button">{{@root.site.phone}}</a>
						</div>{{!--/.small-order--}}
						<div class="container small-order-1 medium-order-2 large-order-1 xlarge-order-2">
							<p>Let us simplify the process</p>
						</div>{{!--/.small-order--}}						
					</div>{{!--/.button-container--}}
				</div>{{!--/.card--}}
			</div>{{!--/.cell--}}

		</div>{{!--/.grid-x--}}
	</div>{{!--/.inner--}}
</div>{{!--/.module.objections--}}