<div class="module statistic {{#if class}}{{class}}{{/if}}">
	<div class="inner">
		<div class="grid-x">

			{{!-- STAT --}}
			<div class="cell medium-6 small-order-2 medium-order-1">
				<p>Foundations Recovery Network patients are <span>30% more likely</span> to stay sober than the national average</p>
			</div>{{!--/.cell--}}

			{{!-- MEDIA --}}
			<div class="cell medium-6 small-order-1 medium-order-2">
			</div>{{!--/.cell--}}

		</div>{{!--/.grid-x--}}
	</div>{{!--/.inner--}}
</div>{{!--/.module.statistic--}}