<div class="module duo-carousel {{#if class}}{{class}}{{/if}}">
	<div class="inner">
		<div class="grid-x">

			{{!-- CONTENT --}}
			<div class="cell large-6">
				<div class="card">
					<h2>{{heading}}</h2>
					{{#markdown}}{{text}}{{/markdown}}
					<div class="button-container grid-x">
						<div class="container small-order-2 medium-order-1 large-order-2 xlarge-order-1">
							<a href="tel:{{@root.site.phone}}" data-ga-event data-ga-category="Phone Numbers" data-ga-action="Phone Clicks" data-ga-label="Phone Clicks Facilities" class="button">{{@root.site.phone}}</a>
						</div>{{!--/.small-order--}}
						<div class="container small-order-1 medium-order-2 large-order-1 xlarge-order-2">
							<p>Find the right location for you</p>
						</div>{{!--/.small-order--}}						
					</div>{{!--/.button-container--}}
				</div>{{!--/.card--}}
			</div>{{!--/.cell--}}

			{{!-- CAROUSEL --}}
			<div class="cell large-6" >
          	<div id="facility-slider" class="facility__slider">
              {{#each carousel}}
              	<div class="card">
	                <img alt="{{title}}" src="{{img}}"/>
	                <h3>{{title}}</h3>
	                <p>{{location}}</p>
           		</div>{{!--/.card--}}
              {{/each}}
          	</div>{{!--/.slider--}}
			</div>{{!--/.cell--}}

		</div>{{!--/.grid-x--}}
	</div>{{!--/.inner--}}
</div>{{!--/.module.objections--}}