<div class="module duo {{#if class}}{{class}}{{/if}}">
	<div class="inner">
		<div class="grid-x">

			{{!-- MEDIA --}}
			<div class="cell large-6">
				<div class="video-container">
					<a class="play-video-button" data-reset-on-close="true" data-open="what-to-expect-video" data-ga-event data-ga-category="Video" data-ga-action="Video Modal" data-ga-label="Video Modal Expect">
						What to expect when you call
						<div class="button-icon"></div>{{!--/.button-icon--}}
					</a>{{!--/.play-video-button--}}
				</div>{{!--/.video-container--}}
			</div>{{!--/.cell--}}

			{{!-- REVEAL --}}
			<div class="reveal video" id="what-to-expect-video" data-reveal data-reset-on-close="true">
				<div class="widescreen flex-video">
					<iframe width="560" height="315" src="https://www.youtube.com/embed/TYjqIOG7nh8?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				</div>{{!--/widescreen.flex.video--}}
          		<button class="close-button" data-close aria-label="Close modal" type="button">
            		<span aria-hidden>&times;</span>
          		</button>{{!--/button--}}
			</div>{{!--/.reveal--}}

			{{!-- CONTENT --}}
			<div class="cell large-6">
				<div class="card">
					<h2>You will get help, if you want it.</h2>
					<h3>All calls are confidential by law.</h3>
					<p>Your phone call will be answered by an experienced member of our admissions team who will conduct a brief, confidential assessment, asking you some simple questions to find out more about your specific situation. We’ll also find out your preferences so that we can do our best to match you with the facility where you’ll be the most comfortable and likely to succeed.</p>
				</div>{{!--/.card--}}
			</div>{{!--/.cell--}}

		</div>{{!--/.grid-x--}}
	</div>{{!--/.inner--}}
</div>{{!--/.module.duo--}}