<div class="footer {{#if class}}{{class}}{{/if}}">
	<div class="inner">
		<div class="grid-x">

			<div class="cell medium-6">
				<img src="{{site.logo.img}}" class="site-logo" alt="{{text}}" />
			</div>{{!--/.cell--}}

			<div class="cell medium-6">
				<a href="https://www.foundationsrecoverynetwork.com/wp-content/plugins/frn_plugins/privacy-policy.pdf">Privacy Policy</a>
			</div>{{!--/.cell--}}
		</div>{{!--/.grid-x--}}
	</div>{{!--/.inner--}}
</div>{{!--/.footer--}}